##
## Config file for Dr.Rudder's Trex-450 Pro test heli.
##

# start the command batch
batch start

# features
feature -GPS
feature -LED_STRIP
feature RX_SERIAL
feature -TELEMETRY
feature RPM_FILTER
feature -ESC_SENSOR
feature -FREQ_SENSOR

# servos
servo 1 1100 1900 1520 -1000 0
servo 2 1100 1900 1520 -1000 0
servo 3 1100 1900 1520  1000 0
servo 4 1150 1850 1520 -1000 0

# mixer
mixer reset

# Rules    i OP  SRC DST OFF  RATE   MIN   MAX
#--------------------------- ---------------------
mixer rule 0 add  SC  S1  0   500  -1000  1000
mixer rule 1 add  SC  S2  0   500  -1000  1000
mixer rule 2 add  SC  S3  0   500  -1000  1000
mixer rule 3 add  SR  S2  0   877  -1000  1000
mixer rule 4 add  SR  S3  0  -877  -1000  1000
mixer rule 5 add  SP  S1  0  1000  -1000  1000
mixer rule 6 add  SP  S2  0  -500  -1000  1000
mixer rule 7 add  SP  S3  0  -500  -1000  1000
mixer rule 8 set  SY  S4  0   750  -1000  1000
mixer rule 9 set  G1  M1  0  1000      0  1000

# channel map
map AETRC123

# Serial ports
serial 0 0 115200 57600 0 115200
serial 1 0 115200 57600 0 115200
serial 2 64 115200 57600 0 115200
serial 3 0 115200 57600 0 115200
serial 5 1 115200 57600 0 115200

# aux
aux 0 0  0 1250 2100 0 0
aux 1 1  2 1750 2100 0 0
aux 2 26 1 1750 2100 0 0
aux 3 0  0  900  900 0 0
aux 4 0  0  900  900 0 0
aux 5 0  0  900  900 0 0
aux 6 0  0  900  900 0 0
aux 7 0  0  900  900 0 0

# rxfail
rxfail 0 s 1500
rxfail 1 s 1500
rxfail 2 s 1500
rxfail 3 h
rxfail 4 h
rxfail 5 h
rxfail 6 h
rxfail 7 h


## Master settings

# Tx config
set serialrx_provider = SBUS
set deadband = 3
set yaw_deadband = 3

# RC input limits
set min_check = 1000
set max_check = 2000
set min_command = 1000
set min_throttle = 1050
set max_throttle = 2000

# Servo config
set servo_pwm_rate = 333

# Motor config
set motor_pwm_protocol = DSHOT600
set motor_pwm_rate = 480
set dshot_idle_value = 0
set dshot_burst = ON
set dshot_bidir = ON

# ESC telemetry
#set esc_sensor_protocol = KISS
#set esc_sensor_protocol = HOBBYWINV4

# ADC sources
set battery_meter = ADC
set current_meter = ADC


## Betaflight features

# PID loop speed
set pid_process_denom = 8

# Misc features
set small_angle = 30

# RC Smoothing
set rc_smoothing_type = FILTER
set rc_smoothing_input_type = BIQUAD
set rc_smoothing_input_hz = 25
set rc_smoothing_derivative_type = PT1
set rc_smoothing_derivative_hz = 50

# Failsafe
set failsafe_delay = 20
set failsafe_off_delay = 10
set failsafe_throttle = 1000
set failsafe_switch_mode = STAGE2
set failsafe_throttle_low_delay = 100
set failsafe_procedure = DROP
set failsafe_recovery_delay = 20
set failsafe_stick_threshold = 30

# Debug axis
set gyro_filter_debug_axis = ROLL

# Debug mode
set debug_mode = GYRO_SCALED



## IGNORE PROFILES - ONLY USE DEFAULT

profile 0

set profile_name = DEFAULT


## Gyro filtering

set gyro_hardware_lpf = NORMAL
set gyro_overflow_detect = ALL

# Fixed LPF
set gyro_lowpass_type = BIQUAD
set gyro_lowpass_hz = 150
set gyro_lowpass2_type = BIQUAD
set gyro_lowpass2_hz = 250

# Dynamic LPF - DISABLED
set dyn_lpf_gyro_min_hz = 0
set dyn_lpf_gyro_max_hz = 0

# Fixed notch filters
set gyro_notch1_hz = 0
set gyro_notch1_cutoff = 0
set gyro_notch2_hz = 0
set gyro_notch2_cutoff = 0

# Dynamic notch filter - DISABLED in feature
set dyn_notch_width_percent = 6
set dyn_notch_q = 250
set dyn_notch_min_hz = 66

# Fixed D-term LPF
set dterm_lowpass_type = PT1
set dterm_lowpass_hz = 100
set dterm_lowpass2_type = PT1
set dterm_lowpass2_hz = 0

# Dynamic D-term LPF - DISABLED
set dyn_lpf_dterm_min_hz = 0
set dyn_lpf_dterm_max_hz = 0

# Fixed D-term notch - DISABLED
set dterm_notch_hz = 0
set dterm_notch_cutoff = 0

# RPM filter banks
set gyro_rpm_filter_bank_motor_index = 1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0
set gyro_rpm_filter_bank_gear_ratio  = 11424,11655,5712,5828,3846,2885,2721,1361,1000,0,0,0,0,0,0
set gyro_rpm_filter_bank_notch_q     = 150,150,150,150,100,100,100,100,100,0,0,0,0,0,0,0

# RPM LPF
set motor_poles = 6,1
set motor_rpm_lpf = 20,20

# YAW lowpass
set yaw_lowpass_hz = 0



## PID Loop

set p_pitch = 80
set i_pitch = 100
set d_pitch = 1
set f_pitch = 100

set p_roll = 80
set i_roll = 100
set d_roll = 1
set f_roll = 100

set p_yaw = 40
set i_yaw = 60
set d_yaw = 1
set f_yaw = 10

set pidsum_limit = 500
set pidsum_limit_yaw = 500

set error_decay_always = OFF
set error_decay_rate = 10

set iterm_relax = RP
set iterm_relax_type = SETPOINT
set iterm_relax_cutoff = 12
set iterm_windup = 100
set iterm_limit = 400

set elevator_filter_gain = 0
set elevator_filter_window_time = 150
set elevator_filter_window_size = 0
set elevator_filter_hz = 0


## RPM Governor

set gov_max_headspeed = 3200
set gov_gear_ratio = 11538
set gov_p_gain = 40
set gov_i_gain = 40
set gov_cyclic_ff_gain = 5
set gov_collective_ff_gain = 10
set gov_collective_ff_impulse_gain = 0

# Spoolup time [s]
set gov_spoolup_time = 10

# Rescue settings
set rescue_collective = 400

# Collective feed-forward
#set collective_ff_impulse_freq = 0

# Tail feed-forward
set yaw_collective_ff_gain = 120
set yaw_collective_ff_impulse_gain = 200
set yaw_cyclic_ff_gain = 120
set yaw_base_thrust = 0

# ABS control
set abs_control_gain = 0
set abs_control_cutoff = 11
set abs_control_limit = 120
set abs_control_error_limit = 45


#### Rate profiles

rateprofile 0

set rateprofile_name = DEFAULT

set roll_rc_rate = 100
set pitch_rc_rate = 100
set yaw_rc_rate = 100

set roll_srate = 50
set pitch_srate = 50
set yaw_srate = 50

set roll_expo = 0
set pitch_expo = 0
set yaw_expo = 0


batch end

save
