##
## Example config for Trex-450 Pro
##

# start the command batch
batch start

## features
feature RX_SERIAL
feature RPM_FILTER
feature -DYNAMIC_FILTER
feature ESC_SENSOR
feature -FREQ_SENSOR

## servos
#
# S1   Back (elevator)
# S2   Front left (left aileron)
# S3   Front right (right aileron)
# S4   Tail
#
# Please trim all servos to center arms correctly!
#
servo 1 1100 1900 1520 -1000 0 0
servo 2 1100 1900 1520 -1000 0 0
servo 3 1100 1900 1520  1000 0 0
servo 4 1100 1900 1520 -1000 0 0

## mixer
#
# Default mixer rules for 120deg swash configuration
#
mixer reset
#
# Rules    i OP  SRC DST OFF  RATE   MIN   MAX
#--------------------------- ---------------------
mixer rule 0 add  SC  S1  0   500  -1000  1000
mixer rule 1 add  SC  S2  0   500  -1000  1000
mixer rule 2 add  SC  S3  0   500  -1000  1000
mixer rule 3 add  SR  S2  0   877  -1000  1000
mixer rule 4 add  SR  S3  0  -877  -1000  1000
mixer rule 5 add  SP  S1  0  1000  -1000  1000
mixer rule 6 add  SP  S2  0  -500  -1000  1000
mixer rule 7 add  SP  S3  0  -500  -1000  1000
mixer rule 8 set  SY  S4  0  1000  -1000  1000
mixer rule 9 set  G1  M1  0  1000      0  1000

## mixscale
#
# PLEASE MODIFY TO MATCH YOUR SETUP!
#
mixscale SR 640
mixscale SP 640
mixscale SC 800

## channel map
#
# AETRC123    FrSky
# AETR1C23    Futaba/Hitec
# TAER1C23    Spektrum/Graupner/JR
#
map AETRC123

## Serial ports
#
# PLEASE MODIFY TO MATCH YOUR SETUP!
#
# ESC telemetry
serial 1 1024 115200 57600 0 115200
# Serial Rx (SBUS)
serial 2 64 115200 57600 0 115200
# Bluetooth MSP
serial 5 1 115200 57600 0 115200

## aux
#
# PLEASE MODIFY TO MATCH YOUR SETUP!
#
# ARM on AUX1
aux 0 0  0 1250 2100 0 0
# RESCUE on AUX3
aux 1 1  2 1750 2100 0 0
# BlackBox on AUX2
aux 2 26 1 1750 2100 0 0


## Master settings

## Rx config
#
# S.BUS for Futaba/FrSky
#
set serialrx_provider = SBUS

# Deadband - 2 or 3 should be enough
set deadband = 3
set yaw_deadband = 3

# RC Interpolation
#
# !!! DO NOT use THROTTLE interpolation with GOVERNOR !!!
#
set rc_interp_ch = RPYC

# RC input limits
set min_check = 1050
set max_check = 2000

# Servo update rate
set servo_pwm_rate = 333

# Motor config
set motor_pwm_protocol = DSHOT600
set dshot_idle_value = 0
set dshot_burst = ON
set dshot_bidir = ON

# ESC telemetry
set esc_sensor_protocol = KISS

# ADC sources
set battery_meter = ADC
set current_meter = ESC

# PID loop speed
set pid_process_denom = 8

# Debug mode
set debug_mode = NONE


## Gyro filtering

# Fixed LPF
set gyro_lowpass_type = BIQUAD
set gyro_lowpass_hz = 150
set gyro_lowpass2_type = BIQUAD
set gyro_lowpass2_hz = 250

# Dynamic LPF - DISABLED
set dyn_lpf_gyro_min_hz = 0
set dyn_lpf_gyro_max_hz = 0

# Fixed notch filters - DISABLED
set gyro_notch1_hz = 0
set gyro_notch1_cutoff = 0
set gyro_notch2_hz = 0
set gyro_notch2_cutoff = 0

# Dynamic notch filter - DISABLED in feature
set dyn_notch_width_percent = 6
set dyn_notch_q = 250
set dyn_notch_min_hz = 66

# Fixed D-term LPF
set dterm_lowpass_type = PT1
set dterm_lowpass_hz = 100
set dterm_lowpass2_type = PT1
set dterm_lowpass2_hz = 0

# Dynamic D-term LPF - DISABLED
set dyn_lpf_dterm_min_hz = 0
set dyn_lpf_dterm_max_hz = 0

# Fixed D-term notch - DISABLED
set dterm_notch_hz = 0
set dterm_notch_cutoff = 0

# YAW lowpass - DISABLED
set yaw_lowpass_hz = 0

# RPM filter banks
#
# Trex-450 with 150T / 13T main, 106T / 25T tail
#
#  - Two notches on head fundamental Q=2.0
#  - Two notches on head 2nd harmonic Q=2.0
#  - One notch on head 3rd harmonic Q=1.5
#  - One notch on head 4th harmonic Q=1.5
#  - One notch on tail fundamentl  Q=1.5
#  - One notch on tail 2nd harmonic Q=1.5
#  - One notch on motor fundamentl Q=1.5
#
set gyro_rpm_filter_bank_motor_index = 1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0
set gyro_rpm_filter_bank_gear_ratio  = 11424,11655,5712,5828,3846,2885,2721,1361,1000,0,0,0,0,0,0
set gyro_rpm_filter_bank_notch_q     = 200,200,200,200,150,150,150,150,150,0,0,0,0,0,0,0


## PID Loop
#
# PLEASE TUNE TO MATCH YOUR SETUP!
#
# THESE ARE GOOD VALUES TO START WITH.
# 
set p_pitch = 80
set i_pitch = 100
set d_pitch = 1
set f_pitch = 100

set p_roll = 80
set i_roll = 100
set d_roll = 1
set f_roll = 100

set p_yaw = 80
set i_yaw = 80
set d_yaw = 10
set f_yaw = 5

# PIDsum limits
set pidsum_limit = 380
set pidsum_limit_yaw = 500

# I-term decay
set error_decay_always = OFF
set error_decay_rate = 10

# I-term relax
set iterm_relax = RP
set iterm_relax_type = SETPOINT
set iterm_relax_cutoff = 12
set iterm_windup = 100
set iterm_limit = 400

# Elevator filter
#
# PLEASE ENABLE AND TUNE once flying
#
set elevator_filter_gain = 0
set elevator_filter_window_time = 150
set elevator_filter_window_size = 0
set elevator_filter_hz = 0

# ABS control
#
# PLEASE ENABLE AND TUNE once flying
#
set abs_control_gain = 0
set abs_control_cutoff = 11
set abs_control_limit = 120
set abs_control_error_limit = 45

# Tail feed-forward
#
# PLEASE TUNE once flying
#
set yaw_base_thrust = 0
set yaw_cyclic_ff_gain = 40
set yaw_collective_ff_gain = 100
set yaw_collective_ff_impulse_gain = 10

# Collective feed-forward
set collective_ff_impulse_freq = 100

# Collective reference point for 8deg
set collective_reference = 480

# Rescue settings
set rescue_collective = 100


## RPM Governor

# Motor pole count
set motor_poles = 6,6

# Headspeed low pass filter
set motor_rpm_lpf = 10,10

# Governor settings
set gov_max_headspeed = 3200
set gov_gear_ratio = 11538
set gov_p_gain = 40
set gov_i_gain = 40
set gov_cyclic_ff_gain = 5
set gov_collective_ff_gain = 10
set gov_collective_ff_impulse_gain = 0

# Spoolup time [s]
set gov_spoolup_time = 15


## Rates

set roll_rc_rate = 100
set pitch_rc_rate = 100
set yaw_rc_rate = 100

set roll_srate = 50
set pitch_srate = 50
set yaw_srate = 50

set roll_expo = 0
set pitch_expo = 0
set yaw_expo = 0


batch end

save
