# Betaflight / STM32F7X2 (S7X2) 4.2.0 Jul 16 2020 / 21:10:02 (8b9575d94) MSP API: 1.43

board_name JHEF7DUAL
manufacturer_id JHEF


## Resources

# Status LED
resource LED 1 A15

# Beeper
#resource BEEPER 1 C15

# Pin A08: TIM1 CH1 (AF1) DMA2 Stream 6 Channel 0
resource LED_STRIP 1 A08
timer A08 AF1
dma pin A08 0

# Pin B00: TIM3 CH3 (AF2) DMA1 Stream 7 Channel 5
resource SERVO 1 B00
timer B00 AF2
dma pin B00 0

# Pin B01: TIM3 CH4 (AF2) DMA1 Stream 2 Channel 5
resource SERVO 2 B01
timer B01 AF2
dma pin B01 0

# Pin B04: TIM3 CH1 (AF2) DMA1 Stream 4 Channel 5
resource SERVO 3 B04
timer B04 AF2
dma pin B04 0

# Pin B03: TIM3 CH2 (AF1) DMA1 Stream 6 Channel 3
resource SERVO 4 B03
timer B03 AF1
dma pin B03 0

# Pin C09: TIM8 CH4 (AF3) DMA2 Stream 7 Channel 7
resource MOTOR 1 C09
timer C09 AF3
dma pin C09 0

# Pin C08: TIM8 CH3 (AF3) DMA2 Stream 2 Channel 0
resource MOTOR 2 C08
timer C08 AF3
dma pin C08 0

# Pin A03: TIM9 CH2 (AF3)
#resrouce FREQ 1 A03
#timer A03 AF3

# Pin B08: TIM4 CH3 (AF2) DMA1 Stream 7 Channel 2
#resource CAMERA_CONTROL 1 B08
#timer B08 AF2
#dma pin B08 0

# Serial #1
resource SERIAL_TX 1 A09
resource SERIAL_RX 1 A10

# Serial #2
resource SERIAL_TX 2 A02
resource SERIAL_RX 2 A03

# Serial #3
resource SERIAL_TX 3 B10
resource SERIAL_RX 3 B11

# Serial #4
resource SERIAL_TX 4 A00
resource SERIAL_RX 4 A01

# Serial #5
resource SERIAL_TX 5 C12
resource SERIAL_RX 5 D02

# Serial #6
resource SERIAL_TX 6 C06
resource SERIAL_RX 6 C07

# I2C
resource I2C_SCL 1 B06
resource I2C_SDA 1 B07

# SPI1: Gyros
resource GYRO_EXTI 1 C04
resource GYRO_EXTI 2 C03
resource GYRO_CS   1 B02
resource GYRO_CS   2 A04
resource SPI_SCK   1 A05
resource SPI_MISO  1 A06
resource SPI_MOSI  1 A07

# SPI2: OSD
resource OSD_CS   1 B12
resource SPI_SCK  2 B13
resource SPI_MISO 2 B14
resource SPI_MOSI 2 B15

# SPI3: Flash
resource FLASH_CS 1 C13
resource SPI_SCK  3 C10
resource SPI_MISO 3 C11
resource SPI_MOSI 3 B05

# ADC
resource ADC_RSSI 1 C00
resource ADC_CURR 1 C01
resource ADC_BATT 1 C02

# ADC3: DMA2 Stream 0 Channel 2
dma ADC 3 0

# PinIO
resource PINIO 1 C14
resource PINIO 2 B09


## master

# Gyro
set gyro_to_use = FIRST
set gyro_1_bustype = SPI
set gyro_1_spibus = 1
set gyro_1_sensor_align = CW90
set gyro_2_spibus = 1
set gyro_2_sensor_align = CW90

# Baro
set baro_bustype = I2C
set baro_i2c_device = 1
set baro_hardware = BMP280

# ADC
set adc_device = 3
set current_meter = ADC
set battery_meter = ADC
set ibata_scale = 450

# Beeper
set beeper_inversion = ON
set beeper_od = OFF

# Video
set max7456_spi_bus = 2

# PinIO
set pinio_box = 40,41,255,255

# BlackBox
set blackbox_device = SPIFLASH
set flash_spi_bus = 3

# Board alignment
set align_board_yaw = 0
set align_board_roll = 0
set align_board_pitch = 0

# Motor protocol
set motor_pwm_protocol = DSHOT600

# PID scaler
set pid_process_denom = 8
